/* Эллипс с красным градиентом */
.ellipse {
  position: fixed;
  width: 60%;
  height: 50%;
  background: radial-gradient(137.61% 177.2% at 20.3% 8.87%, #BC2B2B 8.49%, #DD3232 53.81%, rgba(255, 255, 255, 0.56) 57.62%, #CF3C3C 61.59%, #811F1F 84%);
  border: 1px solid #D62626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Ключевое свойство, делающее форму эллиптической */
  border-radius: 50% / 50%;

  /* Центрирование эллипса внутри прямоугольника */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Общий контейнер для надписи */
.title {
    font-family: Elan-Medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;


    background: linear-gradient(180deg, #FFFFFF 0%, #CCCCCC 23.5%, #FFFFFF 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
    background-clip: text;
  }
  
  /* Стиль для слова "САМЫЙ" */
.title__first {
    font-weight: 400;
    line-height: 100%;
    font-size: 80px;

  }
  
  /* Стиль для слова "УМНЫЙ" */
.title__second {
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
  }
