

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 628px;
    height: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(50% 50% at 50% 50%, #50AAFF 0%, #FAFAFF 50%, #0AEFFF 75%, #0512FB 100%);
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px; 
    height: 194px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(137.61% 137.2% at 18.3% 18.87%, #BC2B2B 8.49%, #DD3232 53.81%, rgba(255, 255, 255, 0.56) 57.62%, #CF3C3C 61.59%, #811F1F 84%);
    border: 1px solid rgba(214, 38, 38, 1);
}

.text-one {
    font-family: Elan Medium;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; 
    color: rgba(204,204,204);
    font-size: 40px;
}
.text-two {
    font-family: Elan Medium;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; 
    color:aliceblue ;
    font-size: 64px;
    line-height: 100%;
    border: 5px;
}