div {
    display: flex;
    flex-direction: column;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 928px;
    height: 675px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(50% 50% at 50% 50%, #50AAFF 0%, #FAFAFF 50%, #0AEFFF 75%, #0512FB 100%);

}

button {
font-family: Elan Medium;
width: 55%;
margin: 10px;
font-size: 32px;
line-height: 100%;
text-shadow: 
-1px -1px 0 black,  
 1px -1px 0 black,
-1px  1px 0 black,
 1px  1px 0 black;
font-size: 40px;
color: rgb(223, 223, 223);
background-image: url(Без\ имени-2.png);
}